<h1>Adicionando novo Enfermeiro</h1>
<%= form_with scope: :enfermeiro, url: enfermeiros_path, local: true do |form| %>
  <p>
    <%= form.label :nome %><br>
    <%= form.text_field :nome %>
  </p>
 
 <p>
    <%= form.label :CPF %><br>
    <%= form.text_field :cpf %>
  </p>

 <p>
    <%= form.label :COREN %><br>
    <%= form.text_field :coren %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>