<!DOCTYPE html>
<html>
  <head>
    <title>RabbitCare</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'channels/conversas' %>  
    
  </head>

  <body>
    <% flash.each do |message_type, message| %>
      <div> <%= message %> </div>
    <% end %>
    <%= yield %>
  </body>
  
</html>
