<p id="notice"><%= notice %></p>

<p>
  <strong>Addmedicamento:</strong>
  <%= @rabbitcare.add medicamento %>
</p>

<p>
  <strong>Removemedicamento:</strong>
  <%= @rabbitcare.remove medicamento %>
</p>

<%= link_to 'Edit', edit_rabbitcare_path(@rabbitcare) %> |
<%= link_to 'Back', rabbitcares_path %>
