<p id="notice"><%= notice %></p>

<h1>Medicamentos</h1>
<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Descricao</th>
      <th>Cpf</th>
      <th colspan="3"></th>
    </tr>
  </thead>

<% if @medicamentos %>
    <tbody>
      <% @medicamentos.each do |medicamento| %>
        <tr>
          <td><%= medicamento.nome %></td>
          <td><%= medicamento.descricao %></td>
          <td><%= medicamento.cpf %></td>
          <td><%= link_to 'Show', medicamento_path(medicamento, paciente_id: params[:paciente_id])  %></td>
          <td><%= link_to 'Edit', edit_medicamento_path(medicamento, paciente_id: params[:paciente_id]) %></td>
          <td><%= link_to 'Destroy', medicamento_path(medicamento, paciente_id: params[:paciente_id]), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<br>

<%= link_to 'New Medicamento', new_medicamento_path(paciente_id: params[:paciente_id]) %>
